@import 'root.css';

main section {
    padding: 5em 10%;
}

main section:nth-child(odd) {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

main section:nth-child(even) {
    text-align: right;
}

main section:has(img, pre) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main section:has(img, pre) div {
    width: 50%;
}

main img {
    width: 400px;
}

pre code {
    background-color: #2d2d2d !important;
    color: #f8f8f2 !important;
    padding: 1em 0 ;
    font-size: 1em;
    border-radius: 0.5em;
    text-align: left;
}

.hljs-string { color: green; }
.hljs-comment { color: #75715e; font-style: italic; }
.hljs-number { color: #ae81ff; }
.hljs-type { color: orange; }
